<section class="pp-welcome">
    <mat-card class="pp-welcome-card">
        <mat-card-header class="pp-welcome-card-header">
            <mat-card-title>PROJECT PLANNER</mat-card-title>
          </mat-card-header>
        <img mat-card-image src="../../../../assets/welcome.jpg" alt="Project Planner Image">
        <mat-card-actions class="pp-welcome-btn-container">
            <button class="pp-welcome-btn" mat-raised-button color="primary" routerLink="/projects">ENTER</button>
        </mat-card-actions>
    </mat-card>
</section>

