<section id="pp-project-detail" class="container">
    <nav class="navbar navbar-light bg-light mb-5">
        <a class="navbar-brand">
            <h1>Create New Project</h1>
        </a>
    </nav>
    <form [formGroup]="projectForm" *ngIf="projectForm">
        <div class="mb-3 row">
            <label for="name" class="form-label col-sm-3">Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" formControlName="name">
                <div *ngIf="submitted && f.name.errors">
                    <div *ngIf="f.name.errors.required" class="text-danger">Name is required</div>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="form-label col-sm-3">Description:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="description" formControlName="description">
            </div>
        </div>
        <div class="mb-3 row ">
            <label class="form-check-label col-sm-3" for="startDate">Start Date:</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="startDate" formControlName="startDate">
                <div *ngIf="submitted && f.startDate.errors">
                    <div *ngIf="f.startDate.errors.required" class="text-danger">Start Date is required</div>
                </div>
            </div>
        </div>
        <div class="mb-3 row ">
            <label class="form-check-label col-sm-3" for="endDate">End Date:</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="endDate" formControlName="endDate">
                <div *ngIf="submitted && f.endDate.errors">
                    <div *ngIf="f.endDate.errors.required" class="text-danger">End Date is required</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right" (click)="projectAddHandler()">Create</button>
    </form>
</section>